@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";
@import "../fonts/fontello/css/icon-embedded.css";
@import "../fonts/fontello/css/icon-codes.css";

$border-color: $gray-lighter;

.list-options,
.list-favorites {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  line-height: 30px;
}

.list-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid $border-color;

  &:first-child {
    border-top: 1px solid $border-color;
  }

  > .icon {
    width: 23px;
  }
}

#app {
  margin: 30px 0;

  .icon {
    padding-right: 10px;
  }
}
