@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";
@import "../../../node_modules/font-awesome/scss/font-awesome.scss";

$border-color: $gray-lighter;

.list-options,
.list-favorites {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  line-height: 30px;
}

.list-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid $border-color;

  &:first-child {
    border-top: 1px solid $border-color;
  }

  > .fa {
    width: 23px;
  }
}

#app {
  margin: 30px 0;

  .fa {
    padding-right: 10px;
  }
}