// List of items

.RCMList {
  margin: 0 0 1rem;
  padding: 0;

  list-style: none;

  user-select: none;

  border: 1px solid $rcm-list-border-color;
  border-radius: 3px;

  line-height: 30px;
}

.RCMList--options,
.RCMList--favorites {

}

.RCMList-item {
  display: block;

  padding: 10px;

  cursor: pointer;

  border-top: 1px solid $rcm-list-border-color;

  &:first-child {
    border-top: none;
  }
}

.RCMList-icon {
  width: 23px;
}
